:root{
    --color-primary: #000;
    --color-primary-light: #ffffff;
    --color-bg: purple;
    
    --transition: all 0.3s ease-in-out;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}
@font-face {
    font-family: "Kalam";
    src: url("fonts/kalam-bold.ttf") format("truetype"),
      url("fonts/kalam-light.ttf") format("truetype"),
      url("fonts/kalam-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;;
}

html {
    scroll-behavior: smooth;
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1.6;
    color: var(--color-primary);
    overflow-x: hidden;
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin: 0 auto;
}

nav {
    background-color: var(--color-primary-light);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav button {
    display: none;
}

.nav_container{
    height: 100%;
    display: flex;
    align-items: center;

}
.nav_logo {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0 3rem 0 0;
}
.nav_links ul{
    position: relative;
    margin: 0.2rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;
}
.nav_profile{
    position: relative;
    cursor: pointer;
}
.nav_profile strong{
    font-size: 1.1rem;
    padding: 0.4rem;
    overflow: hidden;
    /* border-radius: 0.7rem;
    border: 0.3rem solid var(--color-bg); */
}
.nav_profile ul{
    position: absolute;
    background-color: var(--color-primary-light);
    padding: 2rem;
    top: 125%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.1rem;
    height: 100%;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}
.nav_profile ul li a{
    padding: 0 0 0.2rem 0;
    display: block;
    width: 100%;
    transition: var(--transition);
}